.anime-card {
  position: relative;
  border-radius: 0.325rem;
  overflow: hidden;
  background-color: #213944;
  transition: transform 0.3s ease, box-shadow 0.3s ease !important; /* Smooth transition for lift and shadow */
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0; /* Default z-index */
}

.anime-card:hover {
  outline: 1px solid #ea580c;
  z-index: 10; /* Bring the card to the front on hover */
}

.anime-poster {
  position: relative;
  aspect-ratio: 2/3;
  width: 100%;
}

.anime-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.anime-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95);
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  color: white;
}

.anime-card:hover .anime-overlay {
  opacity: 1;
}

.anime-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.anime-details h3 {
  font-size: 1.2rem;
  margin: 0;
}

.anime-details p {
  font-size: 0.9rem;
  margin: 0;
}

.anime-synopsis {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.btn-contain {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}

.trailer-btn {
  position: static;
  bottom: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.trailer-btn:hover {
  background-color: rgba(0, 0, 0, 1);
}

.favorite-btn {
  position: static;
  bottom: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 1);
}

.favorite-btn.active {
  color: #ea580c;
}

.score {
  color: #ea580c;
}

.rating-select {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.anime-info {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.anime-info h3 {
  font-size: 1rem;
  margin: 0;
}

.anime-info p {
  color: #999;
  font-size: 0.9rem;
}

.user-rating {
  color: #ffd700;
  font-size: 0.9rem;
  margin-top: auto;
}

@media (max-width: 768px) {
  .anime-card {
    font-size: 0.9rem;
  }

  .anime-info {
    padding: 0.75rem;
  }

  .favorite-btn {
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
  }
}
